[submodule "lib/neturl"]
	path = lib/lua/neturl
	url = https://github.com/golgote/neturl.git
[submodule "lib/go/gpget"]
	path = lib/go/gpget
	url = https://github.com/brianredbeard/gpget.git
[submodule "lib/ext/lua/neturl"]
	path = lib/ext/lua/neturl
	url = https://github.com/golgote/neturl.git
[submodule "lib/ext/go/gpget"]
	path = lib/ext/go/gpget
	url = https://github.com/brianredbeard/gpget.git
[submodule "lib/diskCryptUtils"]
	path = lib/diskCryptUtils
	url = git@github.com:cinterloper/diskCryptUtils.git
[submodule "lib/--force"]
	path = lib/--force
	url = https://github.com/cinterloper/diskCryptUtils.git
[submodule "lib/ext/bash/bork"]
	path = lib/ext/bash/bork
	url = https://github.com/mattly/bork.git
